.bottom-0 {
  bottom: -22vh;
}

.text-black {
  color: black;
}

.pb-25vh {
  padding-bottom: 25vh;
}

.w-33 {
  width: 33.33%;
}

.overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  font-size: 1.3rem;
  transition: all 0.12s ease-in-out;
}

.overlay-text:hover {
  opacity: 1;
  background: rgba(230,230,230,0.7);
}